.productsSection {
  margin-top: 150px;
}

.productsSection .coverImage {
  background-color: #e5005a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.searchOptions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  -webkit-box-shadow: 1px 1px 5px grey;
          box-shadow: 1px 1px 5px grey;
  border-radius: 5px;
  padding: 15px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.advancedSearch {
  margin-top: 10px;
  margin-bottom: 10px;
}

.advancedSearch .sliderBtns {
  width: 250px;
}

.advancedBlock {
  display: none;
  width: 300px;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.targetList {
  max-width: 1140px;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(280px, 280px))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(280px, 280px));
  gap: 5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

.pagination {
  max-width: 1140px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  gap: 10px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.pages {
  cursor: pointer;
  padding: 3px;
  background-color: white;
  border-radius: 100px;
  width: 30px;
  height: 30px;
  -webkit-box-shadow: 1px 1px 10px grey;
          box-shadow: 1px 1px 10px grey;
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding: 0px;
}

.pages:hover {
  background-color: #e5005a;
  color: white;
}

.selectedPage {
  background-color: #e5005a;
  color: white;
}
